{{#if loggedIn}}
<div class="dashboard container">
    <h1>Welcome, {{username}}!</h1>
    {{log this}}
    
   {{#each userPostsData as |post|}}
   <div class="post">
    <a href="/post/edit/{{post.id}}"><p>{{post.title}}</p></a>
    <p>{{format_date post.createdAt}}</p>
    </div>
   {{/each}}
   

   <a href="/new-post"><button>New Post +</button></a>
</div>

{{else}}
    <div class="dashboard container">
        <p><a href="/login">Login</a> or <a href="/signup">Sign up</a> to create posts!</p>
    </div>
{{/if}}