<div>
    <div class="post-header">
        <h1>{{post.title}}</h1>
        <p>{{post.user.username}}</p>
        <p>{{post.updatedAt}}</p>
    </div>   
    <article>
        {{post.content}}
    </article>

    <div class="comment">
        <form id="comment-form">
            <label for="comment">Comment</label>
            <textarea id="comment-body"></textarea>
            <button id="submit-btn" data-userid="{{post.user.id}}">Submit</button>
        </form>
    </div>
</div>

<script src="/js/comment.js"></script>