<div>
    <div class="container">
        <div class="post-header">
            <h3>{{post.title}}</h3>
            <p>Posted by {{post.user.username}}</p>
            <p>on {{format_date post.updatedAt}} at {{format_time post.updatedAt}}</p>
        </div>
        <article class="post-body">
            <p>{{post.content}}</p>
        </article>
    </div>   
    

    <section class="comment-section">
        
        <div class="container">
            <div class="post-header">
                <h3>Comments</h3>
            </div>
            {{#each post.comments as |comment|}}
            
            <section class="post-body">
                <p>{{comment.comment}}</p>
                <p>-Author {{format_date comment.createdAt}}</p>
                <hr/>
            </section>
            {{/each}}
        </div>
        
    </section>

    <div class="container">
        <form id="comment-form">
            <label for="comment">Leave a Comment</label>
            <textarea id="comment-body"></textarea>
            <button id="submit-btn" data-userid="{{post.user.id}}">Submit</button>
        </form>
    </div>
</div>

<script src="/js/comment.js"></script>